<div id="caca" class="col-md-4 mb-3" *ngFor="let listing of listings">
  <div class="card text-center">
    <div class="card-header d-flex justify-content-between align-items-center">
      {{ listing.title }}
      <button class="btn btn-danger" (click)="deleteListing(listing.id)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
    <img [src]="listing.image" width="150" mb-3 />
    <div class="card-body">
      <p>{{ listing.description }}</p>
      <a href="" class="btn btn-info btn-block">EDIT</a>
    </div>
  </div>
</div>
